<%- include('../partials/header.ejs') %>

<main>
	<video id="video-player" playsinline controls poster="/media/poster.jpg">
		<source src="/video" type="video/mp4" />
		<track
			kind="captions"
			label="English!"
			src="/media/captions.vtt"
			srclang="en"
			default
		/>
	</video>
	<div style="display: flex">
		<section>
			<h1><%= locals.title %></h1>
			<h2>Summary</h2>
			<p><%= locals.summary %></p>

			<h2>Director(s)</h2>
			<p><%= locals.director %></p>
		</section>
		<section style="min-width: 350px">
			<h1>Controls</h1>
			<h2>Current Time</h2>
			<p id="time"></p>
			<h2>Scrubber</h2>
			<button class="scrubber-jump-button" onclick="scrubVideo(-5)">
				-5 Sec
			</button>
			<button class="scrubber-jump-button" onclick="scrubVideo(-1)">
				-1 Sec
			</button>
			<button class="scrubber-jump-button" onclick="scrubVideo(1)">
				+1 Sec
			</button>
			<button class="scrubber-jump-button" onclick="scrubVideo(5)">
				+5 Sec
			</button>
			<h2 class="watchers-table">Watchers</h2>
			<table>
				<thead></thead>
				<tbody></tbody>
			</table>
			<div><div id="watchers"></div></div>
		</section>
	</div>
</main>

<%- include('../partials/footer.ejs') %>
